<div>

    <div class="leave-div">
        <nav class="leave-nav">
            <ul>
                <li>
                    <a ui-sref="menu.leave.apply-leave">
                        <span>APPLY</span>
                    </a>
                </li>

                <li>
                    <a>
                        <span>MY LEAVES</span>
                    </a>
                </li>

                <li>
                    <a>
                        <span>APPROVE LEAVES</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <main ui-view></main>
</div>