<body>

    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes">
            <div class="company box">
                <div class="title">Recent Clients</div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Logo</th>
                                <th>Date of Joining</th>
                                <th>Point of Contact</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="company in companies | filter: searchBar | limitTo: 5">
                                <td>
                                    <p>{{company.companyName}}</p>
                                </td>
                                <td>
                                    <p>{{company.companyLogo}}</p>
                                </td>
                                <td>
                                    <p>{{company.createdAt | date:'dd/MM/yyyy'}}</p>
                                </td>
                                <td>
                                    <p>{{company.email[0]}}</p>
                                </td>
                                <td>
                                    <p>{{company.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button">
                    <a ui-sref="sidebar.viewall">See All</a>
                </div>
            </div>
        </div>
    </div>

</body>


<!-- Dashboard toggle button -->
<!-- <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
    }
</script> -->