<body>
    
    <div class="adminDashboard">
    <div class="sidebarDashboard">
        <div class="logo-details">
            <i class='bx bxs-component'></i>
            <span class="logo-name">HRMS</span>
        </div>

        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-list-ul'></i>
                    <span class="link-name">View Customers</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#newCompanyModal" ng-click="openNewCompanyModal()">
                    <i class='bx bxs-user-plus'></i>
                    <span class="link-name">New Customer</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-edit'></i>
                    <span class="link-name">Update Customer</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-chat'></i>
                    <span class="link-name">Message</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-support'></i>
                    <span class="link-name">Support</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#updateSuperAdminModal"
                    ng-click="openUpdateSuperAdminModal()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name">Settings</span>
                </a>
            </li>
            <li class="log-out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- home section -->
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboa">Dashboard</span>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Search..." ng-model="searchBar">
                <i class='bx bx-search-alt-2'></i>
            </div>
        </nav>

        <!-- customer details -->
        <div class="home-content">
            <div class="sales-boxes">
                <div class="company box">
                    <div class="title">Clients</div>
                    <div class="sales-details">
                        <table>
                            <thead>
                                <tr>
                                    <th>Company ID</th>
                                    <th>Company Name</th>
                                    <th>Date of Joining</th>
                                    <th>Point of Contact</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="company in companies | filter: searchBar">
                                    <td>
                                        <p>{{company._id}}</p>
                                    </td>
                                    <td>
                                        <p>{{company.companyName}}</p>
                                    </td>
                                    <td>
                                        <p>{{company.createdAt | date:'dd/MM/yyyy'}}</p>
                                    </td>
                                    <td>
                                        <p>{{company.email[0]}}</p>
                                    </td>
                                    <td>
                                        <p>{{company.isActive ? 'Active' : 'Inactive'}}</p>
                                    </td>
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editModal" style="font-size: 25px; color: #443a3a;"
                                            ng-click="openEditModal(company)"><i class='bx bxs-edit' ></i></a>
                                        
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" style="font-size: 28px; color: #443a3a"
                                            ng-click="openDeleteModal(company)"><i class='bx bxs-user-x' ></i></i></a>
                                        
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#activateModal" style="font-size: 28px; color: #443a3a"
                                            ng-click="openActivateModal(company)"><i class='bx bxs-user-check' ></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button">
                        <a href="#">See All</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDIT MODAL -->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Customer Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="updateForm" novalidate autocomplete="off">
                            <h5>Customer Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Name</span>
                                <input type="text" ng-model="company.companyName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Logo</span>
                                <input type="text" ng-model="company.companyLogo" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <!-- <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Brand Description</span>
                                <input type="text" ng-model="brand.brandDescription" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div> -->
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Email</span>
                                <input type="text" ng-model="company.email" class=" form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Phone
                                    Number</span>
                                <input type="text" ng-model="company.phoneNumber" class=" form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <!-- <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Brand Handles</span>
                                <input type="text" ng-model="brand.brandHandles" class=" form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div> -->
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Website</span>
                                <input type="text" ng-model="company.companyWebsite" class=" form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="superButton" ng-click="saveData($event)">Save
                                    changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- DELETE MODAL -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Deactivate Customer Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="deleteForm" novalidate autocomplete="off">
                            <h5>Customer Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Name</span>
                                <input type="text" ng-model="company.companyName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Email</span>
                                <input type="text" ng-model="company.email" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <h6>Do you wish the deactivate this customer account?</h6>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="superButton" ng-click="deleteData($event)">Deactivate
                                    Company</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- REACTIVATE MODAL -->
        <div class="modal fade" id="activateModal" tabindex="-1" aria-labelledby="activateModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="activateModalLabel">Activate Customer Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="activateForm" novalidate autocomplete="off">
                            <h5>Customer Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Name</span>
                                <input type="text" ng-model="company.companyName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Customer Email</span>
                                <input type="text" ng-model="company.email" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <h6>Do you wish the activate this customer account?</h6>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="superButton" ng-click="activateData($event)">Activate
                                    Company</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- SUPER ADMIN UPDATE THEIR PROFILE MODAL -->
        <div class="modal fade" id="updateSuperAdminModal" tabindex="-1" aria-labelledby="updateSuperAdminModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateSuperAdminModalLabel">Update Super Admin Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="upadteSuperAdminForm" novalidate autocomplete="off">
                            <h5>Super Admin Information</h5>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                                <input type="text" ng-model="superadmin.firstName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                                <input type="text" ng-model="superadmin.lastName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                <input type="text" ng-model="superadmin.email" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Personal Email</span>
                                <input type="text" ng-model="superadmin.personalEmail" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                <input type="text" ng-model="superadmin.password" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Marital Status</span>
                                <input type="text" ng-model="superadmin.maritalStatus" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Current Address</span>
                                <input type="text" ng-model="superadmin.currentAddress" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="superButton" ng-click="updateSuperAdmin($event)">
                                    Update Information
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- CREATING NEW COMPANY AND COMPANY ADMIN -->
        <div class="modal fade" id="newCompanyModal" tabindex="-1" aria-labelledby="newCompanyModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newCompanyModalLabel">New Company Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="newCompanyForm" novalidate autocomplete="off">
                            <h6>Company Information</h6>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Company Name</span>
                                <input type="text" ng-model="company.companyName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Company Logo</span>
                                <input type="text" ng-model="company.companyLogo" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                                <input type="text" ng-model="company.email" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
                                <input type="text" ng-model="company.phoneNumber" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Company Website</span>
                                <input type="text" ng-model="company.companyWebsite" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <h6>Company Admin Information</h6>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
                                <input type="text" ng-model="company.firstName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
                                <input type="text" ng-model="company.lastName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Employee Email</span>
                                <input type="text" ng-model="company.employeeEmail" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Personal Email</span>
                                <input type="text" ng-model="company.personalEmail" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                                <input type="text" ng-model="company.password" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Aadhar Number</span>
                                <input type="text" ng-model="company.aadharNumber" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="superButton" ng-click="addNewCompany($event)">
                                    Create Company
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</body>


<!-- Dashboard toggle button -->
<!-- <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
    }
</script> -->