<body>

    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes" style="justify-content: space-evenly;">
            <div class="stats-card">
                <div class="title">Active Client Count:</div>
                <div ng-model="activeCount" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{activeCount}}
                </div>
            </div>

            <div class="stats-card">
                <div class="title">Inactive Client Count:</div>
                <div ng-model="inactiveCount" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{inactiveCount}}
                </div>
            </div>

            <div class="stats-card">
                <div class="title">Last Client Was:</div>
                <div ng-model="doj" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{companies[0].companyName}}
                </div>
            </div>
            
            <div class="stats-card">
                <div class="title">Last Client Joined On:</div>
                <div ng-model="doj" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{companies[0].createdAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>

        <div class="sales-boxes">
            <div class="company box">
                <div class="title">Recent Clients</div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Company Logo</th>
                                <th>Date of Joining</th>
                                <th>Point of Contact</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="company in companies | filter: searchBar | limitTo: 5">
                                <td>
                                    <p>{{company.companyName}}</p>
                                </td>
                                <td>
                                    <p>{{company.companyLogo}}</p>
                                </td>
                                <td>
                                    <p>{{company.createdAt | date:'dd/MM/yyyy'}}</p>
                                </td>
                                <td>
                                    <p>{{company.email[0]}}</p>
                                </td>
                                <td>
                                    <p>{{company.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button">
                    <a ui-sref="sidebar.viewall">See All</a>
                </div>
            </div>
        </div>
    </div>

</body>


<!-- Dashboard toggle button -->
<!-- <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
        sidebar.classList.toggle("active");
    }
</script> -->