<body>

    <loader is-loading="loading" style="text-align: center; margin-top: 15%;">
    </loader>
    <!-- branch details -->
    <div class="home-content" ng-hide="loading">
        <div class="sales-boxes">
            <!-- <div class="stats-card">
                <div class="title" style="font-size: 18px;">Head Count: {{monthRatios.headCount}}</div>
            </div> -->

            <!-- <div class="stats-card">
                <div class="title" style="font-size: 18px;">Total Hours Put In {{year}}:
                    {{branchPerformance.totalHoursWorked}}</div>
            </div> -->

            <!-- <div class="stats-card">
                <div class="title" style="font-size: 18px;">Average Performance In {{year}}:
                    {{branchPerformance.avgPerformance}}</div>
            </div> -->

            <!-- <div class="stats-card">
                <div class="title" style="font-size: 18px;">Average Turnover Rate In {{year}}:
                </div>
            </div> -->

            <!-- <div class="stats-card">
                <div class="title" style="font-size: 18px;">Average Hiring Rate In {{year}}:
                </div>
            </div> -->
        </div>
        <div class="sales-boxes">
            <div class="company box">
                <month-year-selector on-month-year-change="updateData(month, year)"></month-year-selector>
                <div class="chart-container">
                    <canvas id="workingChart" style="display: block;
                    margin: auto;
                    margin-left: 50%;"></canvas>
                </div>
                <div class="many-boxes" style="display: flex; justify-content: space-evenly; margin-top: 20px;">

                    <div class="stats-card">
                        <div class="title" style="font-size: 18px;">Employee Head Count: {{monthRatios.headCount}}
                        </div>
                    </div>
                    <div class="stats-card">
                        <div class="title" style="font-size: 18px;">Hiring Rate: {{monthRatios.hiringRate.toFixed(2)}}%
                        </div>
                    </div>
                    <div class="stats-card">
                        <div class="title" style="font-size: 18px;">Turnover Rate: {{monthRatios.turnoverRate.toFixed(2)}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>