<div class="adminDashboard">
    <div class="sidebarDashboard">
        <div class="logo-details">
            <i class='bx bxs-component'></i>
            <span class="logo-name">HRMS</span>
        </div>

        <ul class="nav-links">
            <li>
                <a ui-sref="sidepanel.dashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidepanel.viewall">
                    <i class='bx bx-list-ul'></i>
                    <span class="link-name">View Branches</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidepanel.employees">
                    <i class='bx bx-list-ul'></i>
                    <span class="link-name">View Employees</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#newBranchModal" ng-click="openNewBranchModal()">
                    <i class='bx bxs-user-plus'></i>
                    <span class="link-name">New Branch</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#updateCompanyAdminModal"
                    ng-click="openUpdateCompanyAdminModal()">
                    <i class='bx bx-user-circle'></i>
                    <span class="link-name">Update Admin</span>
                </a>
            </li>
            <!-- <li>
                <a href="#">
                    <i class='bx bxs-trash'></i>
                    <span class="link-name">Delete Account</span>
                </a>
            </li> -->
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#updateCompanyModal"
                    ng-click="openUpdateCompanyModal()">
                    <i class='bx bx-cog'></i>
                    <span class="link-name">Settings</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#setPasswordModal" ng-click="openSetPasswordModal()">
                    <i class='bx bxl-gmail'></i>
                    <span class="link-name">Change Password</span>
                </a>
            </li>
            <li class="log-out">
                <a href="#" ng-click="logoutAction()">
                    <i class='bx bx-log-out'></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- home section -->
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">{{viewName}}</span>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Search..." ng-model="searchBar">
                <i class='bx bx-search-alt-2'></i>
            </div>
        </nav>

        <main ui-view> </main>

        <!-- COMPANY ADMIN UPDATE THEIR PROFILE MODAL -->
        <div class="modal fade" id="updateCompanyAdminModal" tabindex="-1"
            aria-labelledby="updateCompanyAdminModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCompanyAdminModalLabel">Update Company Admin Information
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="upadteCompanyAdminForm" novalidate autocomplete="off">
                            <h5>Company Admin Information</h5>
                            <div class="form-group">
                                <label for="companyadmin.firstName">First Name</label>
                                <input type="text" ng-model="companyadmin.firstName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.lastName">Last Name</label>
                                <input type="text" ng-model="companyadmin.lastName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <h6 style="margin-top: 15px;">Employee Details</h6>
                            <div class="form-group">
                                <label for="companyadmin.employeeDetails.employeeEmail">Employee Email</label>
                                <input type="text" ng-model="companyadmin.employeeDetails.employeeEmail"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <h6 style="margin-top: 15px;">Personal Details</h6>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.contact.personalEmail">Personal Email</label>
                                <input type="text" ng-model="companyadmin.personalDetails.contact.personalEmail"
                                    class="form-control" ng-required="true" name="personalEmail">
                                <div ng-show="upadteCompanyAdminForm.personalEmail.$dirty && upadteCompanyAdminForm.personalEmail.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="upadteCompanyAdminForm.personalEmail.$dirty && upadteCompanyAdminForm.personalEmail.$error.email"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.contact.phoneNumber">Phone Number</label>
                                <input type="text" ng-model="companyadmin.personalDetails.contact.phoneNumber"
                                    class="form-control" ng-required="true" name="phoneNumber" ng-pattern="/^\d{10}$/">
                                <div ng-show="upadteCompanyAdminForm.phoneNumber.$dirty && upadteCompanyAdminForm.phoneNumber.$invalid"
                                    class="errorMessage">
                                    <div ng-show="upadteCompanyAdminForm.phoneNumber.$error.required">{{
                                        errorMessages.required}}</div>
                                    <div ng-show="upadteCompanyAdminForm.phoneNumber.$error.pattern">{{
                                        errorMessages.pattern
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.dateOfBirth">Date Of Birth
                                    (MM-DD-YYY)</label>
                                <input type="text" ng-model="companyadmin.personalDetails.dateOfBirth"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.bloodGroup">Blood Group</label>
                                <input type="text" ng-model="companyadmin.personalDetails.bloodGroup"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.aadharNumber">Aadhar Number</label>
                                <input type="text" ng-model="companyadmin.personalDetails.aadharNumber"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.panNumber">Pan Number</label>
                                <input type="text" ng-model="companyadmin.personalDetails.panNumber"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.currentAddress.street">Current Address
                                    Street</label>
                                <input type="text" ng-model="companyadmin.personalDetails.currentAddress.street"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.currentAddress.city">Current Address
                                    City</label>
                                <input type="text" ng-model="companyadmin.personalDetails.currentAddress.city"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="companyadmin.personalDetails.currentAddress.pincode">Current Address
                                    Pincode</label>
                                <input type="text" ng-model="companyadmin.personalDetails.currentAddress.pincode"
                                    class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Close
                                </button>
                                <button type="button" class="superButton" ng-click="updateCompanyAdmin($event)"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Update Information
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- CREATING NEW BRANCH AND BRANCH ADMIN -->
        <div class="modal fade" id="newBranchModal" tabindex="-1" aria-labelledby="newBranchModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newBranchModalLabel">New Branch Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="newBranchForm" novalidate autocomplete="off">
                            <h6>Branch Information</h6>
                            <div class="form-group">
                                <label for="branch.branchName">Branch Name</label>
                                <input type="text" ng-model="branch.branchName" class="form-control" ng-required="true"
                                    name="branchName">
                                <div ng-show="newBranchForm.branchName.$dirty && newBranchForm.branchName.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch.address">Branch Location</label>
                                <input type="text" ng-model="branch.address" class="form-control" ng-required="true"
                                    name="address">
                                <div ng-show="newBranchForm.address.$dirty && newBranchForm.address.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch.city">Branch City</label>
                                <input type="text" ng-model="branch.branchCity" class="form-control" ng-required="true"
                                    name="branchCity">
                                <div ng-show="newBranchForm.branchCity.$dirty && newBranchForm.branchCity.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch.contactNumber">Branch Contact
                                    Details</label>
                                <input type="text" ng-model="branch.contactNumber" class="form-control"
                                    ng-required="true" name="contactNumber">
                                <div ng-show="newBranchForm.contactNumber.$dirty && newBranchForm.contactNumber.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch.departments">Branch
                                    Departments</label>
                                <input type="text" ng-model="branch.departments" class="form-control" ng-required="true"
                                    name="departments">
                                <div ng-show="newBranchForm.departments.$dirty && newBranchForm.departments.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                            </div>

                            <h6>Branch Admin Information</h6>
                            <div class="form-group">
                                <label for="branch.firstName">First Name</label>
                                <input type="text" ng-model="branch.firstName" class="form-control" ng-required="true"
                                    name="firstName">
                                <div ng-if="newBranchForm.firstName.$dirty && newBranchForm.firstName.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newBranchForm.firstName.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="branch.lastName">Last Name</label>
                                <input type="text" ng-model="branch.lastName" class="form-control" ng-required="true"
                                    name="lastName">
                                <div ng-if="newBranchForm.lastName.$dirty && newBranchForm.lastName.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newBranchForm.lastName.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <h6 style="margin-top: 15px;">Employee Details</h6>
                            <div class="form-group">
                                <label for="branch.employeeEmail">Employee Email</label>
                                <input type="email" ng-model="branch.employeeEmail" class="form-control"
                                    ng-required="true" name="employeeEmail">
                                <div ng-show="newBranchForm.employeeEmail.$dirty && newBranchForm.employeeEmail.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newBranchForm.employeeEmail.$dirty && newBranchForm.employeeEmail.$error.email"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <h6 style="margin-top: 15px;">Personal Details</h6>
                            <div class="form-group">
                                <label for="branch.personalEmail">Personal Email</label>
                                <input type="email" ng-model="branch.personalEmail" class="form-control"
                                    ng-required="true" name="personalEmail">
                                <div ng-show="newBranchForm.personalEmail.$dirty && newBranchForm.personalEmail.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newBranchForm.personalEmail.$dirty && newBranchForm.personalEmail.$error.email"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label for="branch.gender">Gender</label>
                                <input type="text" ng-model="branch.gender" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div> -->
                            <div class="form-group">
                                <label for="branch.gender">Gender</label>
                                <select ng-model="branch.gender" class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default" name="gender" required>
                                    <option value="">-- Select Gender --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <div ng-show="newBranchForm.gender.$dirty && newBranchForm.gender.$invalid"
                                    class="errorMessage">
                                    <div ng-show="newBranchForm.gender.$error.required">{{errorMessages.required}}</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Close
                                </button>
                                <button type="button" class="superButton" ng-click="addNewBranch($event)"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;"
                                    ng-disabled="!branch.branchName || !branch.address || !branch.branchCity || !branch.contactNumber || !branch.departments || !branch.firstName || !branch.lastName || !branch.employeeEmail || !branch.personalEmail || !branch.gender">
                                    Create Branch
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- EDITING COMPANY DETAILS MODAL -->
        <div class="modal fade" id="updateCompanyModal" tabindex="-1" aria-labelledby="updateCompanyModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateCompanyModalLabel">Update Company Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="updateCompanyForm" novalidate autocomplete="off">
                            <h6>Company Information</h6>
                            <div class="form-group">
                                <label for="company.companyName">Company Name</label>
                                <input type="text" ng-model="company.companyName" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="company.companyLogo">Company Logo</label>
                                <input type="text" ng-model="company.companyLogo" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="company.email">Email</label>
                                <input type="text" ng-model="company.email" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="company.phoneNumber">Phone Number</label>
                                <input type="text" ng-model="company.phoneNumber" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="form-group">
                                <label for="company.companyWebsite">Company Website</label>
                                <input type="text" ng-model="company.companyWebsite" class="form-control"
                                    aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Close
                                </button>
                                <button type="button" class="superButton" ng-click="updateCompany($event)"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Update Company
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHANGE PASSWORD MODAL -->
        <div class="modal fade" id="setPasswordModal" tabindex="-1" aria-labelledby="setPasswordModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="setPasswordModalLabel">Set Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="setPasswordForm" novalidate autocomplete="off">
                            <h5>Change Password</h5>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" ng-model="newPassword" class="form-control" id="newPassword"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" ng-model="confirmPassword" class="form-control"
                                    id="confirmPassword" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" ng-click="changePassword($event)"
                                    ng-disabled="setPasswordForm.$invalid || (newPassword !== confirmPassword)">Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>