<body>
    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes" style="justify-content: space-evenly;">
            <div class="stats-card">
                <div class="title" style="font-size: 20px;">Company Head Count:</div>
                <div style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{headCount}}
                </div>
            </div>

            <div class="stats-card">
                <div class="title" style="font-size: 20px;">Active Branch Count:</div>
                <div style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{branchCount}}
                </div>
            </div>

            <div class="stats-card">
                <div class="title" style="font-size: 20px;">Best Performing Branch:</div>
                <div style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{branchPerformance[0].branchDetails.branchName}}
                </div>
            </div>
            
            <div class="stats-card">
                <div class="title" style="font-size: 20px;">Employee of the Month:</div>
                <div ng-model="doj" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{companies[0].createdAt | date: 'dd/MM/yyyy'}}
                </div>
            </div>

            <div class="stats-card">
                <div class="title" style="font-size: 20px;">Employee Turnover Rate:</div>
                <div ng-model="doj" style="text-align: center; font-weight: 450; font-size: 20px;">
                    {{companies[0].companyName}}
                </div>
            </div>
        </div>

        <div class="sales-boxes">
            <div class="company box">
                <div class="title">Top Performing Branches</div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Branch ID</th>
                                <th>Branch Name</th>
                                <th>Date of Creation</th>
                                <th>Branch Address</th>
                                <th>Status</th>
                                <!-- <th>Actions</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="branch in branches | filter: searchBar | limitTo: 5">
                                <td>
                                    <p>{{branch._id}}</p>
                                </td>
                                <td>
                                    <p>{{branch.branchName}}</p>
                                </td>
                                <td>
                                    <p>{{branch.createdAt | date:'dd/MM/yyyy'}}</p>
                                </td>
                                <td>
                                    <p>{{branch.address}}</p>
                                </td>
                                <td>
                                    <p>{{branch.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button">
                    <a ui-sref="sidepanel.viewall">See All</a>
                </div>
            </div>
        </div>
    </div>


</body>