<body>
    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes">
            <div class="company box">
                <div class="title">All Branches</div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Branch ID</th>
                                <th>Branch Name</th>
                                <th>Branch Departments</th>
                                <th>Branch Address</th>
                                <th>Branch City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="branch in branches | filter: searchBar">
                                <td>
                                    <p>{{branch._id}}</p>
                                </td>
                                <td>
                                    <p>{{branch.branchName}}</p>
                                </td>
                                <td>
                                    <p ng-repeat="dept in branch.departments">{{dept}}</p>
                                </td>
                                <td>
                                    <p>{{branch.address}}</p>
                                </td>
                                <td>
                                    <p>{{branch.city}}</p>
                                </td>
                                <td>
                                    <p>{{branch.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#editModal"
                                        style="font-size: 25px; color: #443a3a;" ng-click="openEditModal(branch)"><i
                                            class='bx bxs-edit'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- EDIT BRANCH MODAL -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Branch Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form name="updateForm" novalidate autocomplete="off">
                        <h5>Branch Information</h5>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Branch Name</span>
                            <input type="text" ng-model="branch.branchName" class="form-control"
                                aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Branch Location</span>
                            <input type="text" ng-model="branch.address" class="form-control"
                                aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Branch City</span>
                            <input type="text" ng-model="branch.city" class="form-control"
                                aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Branch Contact
                                Details</span>
                            <input type="text" ng-model="branch.contactNumber" class=" form-control"
                                aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Branch
                                Departments</span>
                            <input type="text" ng-model="branch.departments" class=" form-control"
                                aria-label="Sizing edit input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="superButtonClose" data-bs-dismiss="modal"
                                style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                Close
                            </button>
                            <button type="button" class="superButton" ng-click="saveData($event)"
                                style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                Save Changes
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</body>