<body>
    <loader is-loading="loading" style="text-align: center; margin-top: 15%;">
    </loader>
    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes">
            <div class="company box">
                <div class="title">All Branches</div>
                <div class="filters">
                    <input type="text" placeholder="Branch Name" ng-model="name">
                    <input type="text" placeholder="Branch City" ng-model="city">
                    <input type="text" placeholder="Department" ng-model="department">
                    <button ng-click="filterData()"><i class='bx bx-filter' ></i>Filter</button>
                </div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Branch ID</th>
                                <th>Branch Name</th>
                                <th>Branch Departments</th>
                                <th>Branch Address</th>
                                <th>Branch City</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="branch in branches | filter: searchBar">
                                <td>
                                    <p>{{branch._id}}</p>
                                </td>
                                <td>
                                    <p>{{branch.branchName}}</p>
                                </td>
                                <td>
                                    <p ng-repeat="dept in branch.departments">{{dept}}</p>
                                </td>
                                <td>
                                    <p>{{branch.address}}</p>
                                </td>
                                <td>
                                    <p>{{branch.city}}</p>
                                </td>
                                <td>
                                    <p>{{branch.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                                <td>
                                    <!-- <a href="#" data-bs-toggle="modal" data-bs-target="#editModal"
                                        style="font-size: 25px; color: #443a3a;" ng-click="openEditModal(branch)"><i
                                            class='bx bxs-edit'></i></a> -->
                                    <a type="submit" style="background-color: #4CAF50;
                                            color: white;
                                            border: none;
                                            border-radius: 4px;
                                            cursor: pointer;
                                            padding: 2px;" ng-click="moreDetails(branch)">
                                        More Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination current-page="currentPage" total-pages="totalPages" on-page-change="loadPage(page)"></pagination>
            </div>
        </div>
    </div>
</body>