<body>
    <!-- customer details -->
    <div class="home-content">
        <div class="sales-boxes">
            <div class="company box">
                <div class="title">Previous Employees</div>
                <div class="sales-details">
                    <table>
                        <thead>
                            <tr>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Department Name</th>
                                <th>Designation</th>
                                <th>Point of Contact</th>
                                <th>Status</th>
                                <!-- <th>Action</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="emp in pastEmployees | filter: searchBar">
                                <td>
                                    <p>{{emp._id}}</p>
                                </td>
                                <td>
                                    <p>{{emp.firstName + ' ' + emp.lastName}}</p>
                                </td>
                                <td>
                                    <p>{{emp.department}}</p>
                                </td>
                                <td>
                                    <p>{{emp.designation}}</p>
                                </td>
                                <td>
                                    <p>{{emp.employeeEmail}}</p>
                                </td>
                                <td>
                                    <p>{{emp.isActive ? 'Active' : 'Inactive'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>