<div class="adminDashboard">
    <div class="sidebarDashboard">
        <div class="logo-details">
            <i class='bx bxs-component'></i>
            <span class="logo-name">HRMS</span>
        </div>

        <ul class="nav-links">
            <li>
                <a ui-sref="sidemenu.dashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidemenu.viewall">
                    <i class='bx bx-list-ul'></i>
                    <span class="link-name">View Employees</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidemenu.viewall-deptheads">
                    <i class='bx bx-menu'></i>
                    <span class="link-name">Department Heads</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidemenu.viewall-pastemployees">
                    <i class='bx bx-list-ul'></i>
                    <span class="link-name">Previous Employees</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#newEmployeeModal" ng-click="openNewEmployeeModal()">
                    <i class='bx bxs-user-plus'></i>
                    <span class="link-name">New Employee</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidemenu.attendance">
                    <i class='bx bxs-time'></i>
                    <span class="link-name">Attendance</span>
                </a>
            </li>
            <li>
                <a ui-sref="sidemenu.leave.apply-leave">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="link-name">Leave</span>
                </a>
            </li>
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#setPasswordModal" ng-click="openSetPasswordModal()">
                    <i class='bx bxl-gmail'></i>
                    <span class="link-name">Change Password</span>
                </a>
            </li>
            <li class="log-out">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- home section -->
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">{{viewName}}</span>
            </div>


            <div class="search-box">
                <input type="text" placeholder="Search..." ng-model="searchBar">
                <i class='bx bx-search-alt-2'></i>
            </div>

            <div class="punch-btns">
                <button type="button" class="btn btn-success mr-3" ng-click="TimeIn()" ng-if="!timeIn">
                    Time In
                </button>
                <button type="button" class="btn btn-success mr-3" ng-click="TimeOut()" ng-if="timeIn && !timeOut">
                    Time Out
                </button>
                <span>
                    <span id="headerAttendanceTimeMessage" ng-if="timeIn && !timeOut">Last In: </span>
                    <!-- <strong id="headerAttendanceTime" ng-if="timeIn && !timeOut">{{punchTimeIn}}</strong> -->
                    <strong id="headerAttendanceTime" ng-if="timeIn && !timeOut">{{timeIn.timeIn | date: 'dd/MM/yyyy
                        hh:mma'}}</strong>
                </span>
            </div>
        </nav>

        <main ui-view> </main>


        <!-- CREATING NEW EMPLOYEE FOR BRANCH -->
        <div class="modal fade" id="newEmployeeModal" tabindex="-1" aria-labelledby="newEmployeeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newEmployeeModalLabel">New Employee Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="newEmployeeForm" novalidate autocomplete="off">
                            <h6>Employee Personal Information</h6>
                            <div class="form-group">
                                <label for="employee.firstName">First Name</label>
                                <input type="text" ng-model="employee.firstName" class="form-control" ng-required="true"
                                    name="firstName">
                                <div ng-if="newEmployeeForm.firstName.$dirty && newEmployeeForm.firstName.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.firstName.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.lastName">Last Name</label>
                                <input type="text" ng-model="employee.lastName" class="form-control" ng-required="true"
                                    name="lastName">
                                <div ng-if="newEmployeeForm.lastName.$dirty && newEmployeeForm.lastName.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.lastName.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.personalEmail">Personal Email</label>
                                <input type="email" ng-model="employee.personalEmail" class="form-control"
                                    ng-required="true" name="personalEmail">
                                <div ng-show="newEmployeeForm.personalEmail.$dirty && newEmployeeForm.personalEmail.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newEmployeeForm.personalEmail.$dirty && newEmployeeForm.personalEmail.$error.email"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.phoneNumber">Phone Number</label>
                                <input type="text" ng-model="employee.phoneNumber" class="form-control"
                                    name="phoneNumber" required ng-pattern="/^\d{10}$/">
                                <div ng-show="newEmployeeForm.phoneNumber.$dirty && newEmployeeForm.phoneNumber.$invalid"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.phoneNumber.$error.required">{{
                                        errorMessages.required}}</div>
                                    <div ng-show="newEmployeeForm.phoneNumber.$error.pattern">{{ errorMessages.pattern
                                        }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.dateOfBirth">Date of Birth (MM-DD-YYYY)</label>
                                <input type="text" ng-model="employee.dateOfBirth" class="form-control"
                                    ng-required="true" name="dateOfBirth">
                                <div ng-if="newEmployeeForm.dateOfBirth.$dirty && newEmployeeForm.dateOfBirth.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.dateOfBirth.$error.required">
                                        {{errorMessages.required}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.gender">Gender</label>
                                <select ng-model="employee.gender" class="form-control" aria-label="Sizing edit input"
                                    aria-describedby="inputGroup-sizing-default" name="gender" required>
                                    <option value="">-- Select Gender --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                                <div ng-show="newEmployeeForm.gender.$dirty && newEmployeeForm.gender.$invalid"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.gender.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.pStreet">Permanent Address
                                    Street</label>
                                <input type="text" ng-model="employee.pStreet" class="form-control" ng-required="true"
                                    name="pStreet">
                                <div ng-if="newEmployeeForm.pStreet.$dirty && newEmployeeForm.pStreet.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.pStreet.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.pCity">Permanent Address City</label>
                                <input type="text" ng-model="employee.pCity" class="form-control" ng-required="true"
                                    name="pCity">
                                <div ng-if="newEmployeeForm.pCity.$dirty && newEmployeeForm.pCity.$error.required"
                                    class="errorMessage">
                                    <div ng-show="newEmployeeForm.pCity.$error.required">{{errorMessages.required}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.pPincode">Permanent Address
                                    Pincode</label>
                                <input type="text" ng-model="employee.pPincode" class="form-control" ng-required="true"
                                    name="pPincode" ng-pattern="/^\d{6}$/">
                                <div ng-show="newEmployeeForm.pPincode.$dirty && newEmployeeForm.pPincode.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newEmployeeForm.pPincode.$dirty && newEmployeeForm.pPincode.$error.pattern"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.aadharNumber">Aadhar Number</label>
                                <input type="text" ng-model="employee.aadharNumber" class="form-control"
                                    ng-required="true" name="aadharNumber" ng-pattern="/^\d{12}$/">
                                <div ng-show="newEmployeeForm.aadharNumber.$dirty && newEmployeeForm.aadharNumber.$error.required"
                                    class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newEmployeeForm.aadharNumber.$dirty && newEmployeeForm.aadharNumber.$error.pattern"
                                    class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <h6>Employee Details</h6>
                            <div class="form-group">
                                <label for="employee.employeeEmail">Employee Email</label>
                                <input type="email" ng-model="employee.employeeEmail" class="form-control"
                                ng-required="true" name="employeeEmail">
                                <div ng-show="newEmployeeForm.employeeEmail.$dirty && newEmployeeForm.employeeEmail.$error.required" class="errorMessage">
                                    {{errorMessages.required}}
                                </div>
                                <div ng-show="newEmployeeForm.employeeEmail.$dirty && newEmployeeForm.employeeEmail.$error.email" class="errorMessage">
                                    {{errorMessages.pattern}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.designation">Designation</label>
                                <input type="text" ng-model="employee.designation" class="form-control"
                                ng-required="true" name="designation">
                                <div ng-if="newEmployeeForm.designation.$dirty && newEmployeeForm.designation.$error.required" class="errorMessage">
                                    <div ng-show="newEmployeeForm.designation.$error.required">{{errorMessages.required}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.department">Department</label>
                                <select class="form-select" aria-label="Default select example"
                                    ng-model="employee.department">
                                    <option ng-value="dept" ng-repeat="dept in departments">
                                        {{dept}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee.employeeRole">Employee Role</label>
                                <select class="form-select" aria-label="Default select example"
                                    ng-model="employee.employeeRole">
                                    <option ng-value="role" ng-repeat="role in employeeRoles">
                                        {{role}}
                                    </option>
                                </select>
                            </div>

                            <h6>Reporting Manager Details</h6>
                            <div class="form-group">
                                <label for="employee.managerid">Reporting Manager Employee ID</label>
                                <input type="text" ng-model="employee.managerid" class="form-control"
                                ng-required="true" name="managerid">
                                <div ng-if="newEmployeeForm.managerid.$dirty && newEmployeeForm.managerid.$error.required" class="errorMessage">
                                    <div ng-show="newEmployeeForm.managerid.$error.required">{{errorMessages.required}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.managername">Reporting Manager Name</label>
                                <input type="text" ng-model="employee.managername" class="form-control"
                                ng-required="true" name="employeeEmail">
                                <div ng-if="newEmployeeForm.managername.$dirty && newEmployeeForm.managername.$error.required" class="errorMessage">
                                    <div ng-show="newEmployeeForm.managername.$error.required">{{errorMessages.required}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="employee.managerrole">Reporting Manager Role</label>
                                <select class="form-select" aria-label="Default select example"
                                    ng-model="employee.managerrole">
                                    <option ng-value="role" ng-repeat="role in employeeRoles">
                                        {{role}}
                                    </option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="superButtonClose" data-bs-dismiss="modal"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;">
                                    Close
                                </button>
                                <button type="button" class="superButton" ng-click="addNewEmployee($event)"
                                    style="color: white; background-color: #5433ea; border: none; border-radius: 5px;"
                                    ng-disabled="!employee.firstName || !employee.lastName || !employee.phoneNumber || !employee.dateOfBirth || !employee.gender || !employee.pStreet || !employee.pCity || !employee.pPincode || !employee.aadharNumber || !employee.employeeEmail || !employee.designation || !employee.department || !employee.employeeRole || !employee.managerid || !employee.managername || !employee.managerrole">
                                    Add Employee
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- CHANGE PASSWORD MODAL -->
        <div class="modal fade" id="setPasswordModal" tabindex="-1" aria-labelledby="setPasswordModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="setPasswordModalLabel">Set Password</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form name="setPasswordForm" novalidate autocomplete="off">
                            <h5>Change Password</h5>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" ng-model="newPassword" class="form-control" id="newPassword"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" ng-model="confirmPassword" class="form-control"
                                    id="confirmPassword" required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" ng-click="changePassword($event)"
                                    ng-disabled="setPasswordForm.$invalid || (newPassword !== confirmPassword)">Save
                                    changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>